# Import & Setting

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns

In [9]:
rc('font', family='AppleGothic')

# EDA

In [7]:
data_path = '/Users/toad/Documents/ToyProject/Heat_Treatment_PdM/'

In [14]:
data = pd.read_csv(data_path + 'Data/data.csv', encoding='cp949')
display(data.head())
print(data.isnull().sum())

,TAG_MIN,배정번호,건조 1존 OP,건조 2존 OP,건조로 온도 1 Zone,건조로 온도 2 Zone,세정기,소입1존 OP,소입2존 OP,소입3존 OP,...,소입로 온도 2 Zone,소입로 온도 3 Zone,소입로 온도 4 Zone,솔트 1존 OP,솔트 2존 OP,솔트 슬러지 제거,솔트 컨베이어 온도 1 Zone,솔트 컨베이어 온도 2 Zone,솔트조 온도 1 Zone,솔트조 온도 2 Zone
0,2022-01-03 11:22:07,102410,75.6648,30.0155,NaN,NaN,68.4386,72.84030,59.7862,51.71690,...,859.854,NaN,NaN,NaN,NaN,321.275,NaN,NaN,NaN,NaN
1,2022-01-03 11:22:08,102410,75.6706,32.2732,NaN,NaN,68.4386,78.44150,61.6286,50.44530,...,859.780,860.044,859.786,73.0028,NaN,321.275,294.658,272.538,328.734,328.865
2,2022-01-03 11:22:09,102410,75.6776,32.1592,98.8533,99.14600,68.4386,78.10990,61.5414,52.01960,...,859.780,859.981,859.724,73.0028,60.3137,321.275,294.658,272.538,328.734,328.805
3,2022-01-03 11:22:11,102410,75.8656,30.8312,98.7918,99.17675,68.4999,77.50725,60.6663,52.69425,...,859.842,859.950,859.599,74.1009,60.5882,321.275,294.719,272.538,328.674,328.865
4,2022-01-03 11:22:12,102410,73.6468,29.5274,98.7918,99.20750,68.4386,76.02620,61.1634,51.69150,...,859.791,859.991,859.731,72.9029,60.2801,321.275,294.721,272.599,328.740,328.808

TAG_MIN                0
배정번호                   0
건조 1존 OP               0
건조 2존 OP               0
건조로 온도 1 Zone         19
건조로 온도 2 Zone         23
세정기                    4
소입1존 OP              254
소입2존 OP                0
소입3존 OP                0
소입4존 OP                0
소입로 CP 값               0
소입로 CP 모니터 값          13
소입로 온도 1 Zone          5
소입로 온도 2 Zone         12
소입로 온도 3 Zone         15
소입로 온도 4 Zone         16
솔트 1존 OP              20
솔트 2존 OP              17
솔트 슬러지 제거             18
솔트 컨베이어 온도 1 Zone      6
솔트 컨베이어 온도 2 Zone     13
솔트조 온도 1 Zone         22
솔트조 온도 2 Zone         17
dtype: int64